body {
  font-family: 'Fuggles', cursive;
  min-height: 75rem;
  padding-top: 4.5rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Fuggles', cursive;
}
p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
