<!-- Footer -->
  <section class="bg-black sectionSize">
    <div class="mb-4 h-4">
  <!-- Logo here -->
    </div>
    <div class="flex mb-8">
        <%= link_to image_tag('github'), 'https://github.com/awalsh3', target: :_blank, alt: "github logo", class: "mx-4" %>
        <%= link_to image_tag('Instagram'), "https://www.instagram.com/annieeewalshhh/", target: :_blank, alt: "Instagram logo", class: "mx-4" %>
        <%= link_to image_tag('Facebook'),'https://www.facebook.com/annie.walsh.908/', target: :_blank, alt: "Facebook logo", class: "mx-4" %>
        <%= link_to image_tag('Twitter'), "https://www.cnbc.com/2014/03/21/140-things-you-dont-know-about-twitter.html", target: :_blank, alt: "Twitter logo", class: "mx-4" %>

    </div>
    <div class="text-white font-montserrat text-sm">
      © 2021 ANNIE WALSH. All rights reserved
    </div>
  </section>
