<div class="container mt-5 border border-dark bg-light">
  <h1> Welcome to the Garden </h1>
  <p> EST. 2021 </p>
  <p> Here you can walk through my garden of flower features and see what I've grown. <br> Each flower feature will demonstrate a different coding skill I've learned. </p>


  <div class="card border border-dark mt-5">
  <div class="card-body">
    <h5 class="card-title">Musical Garden keys</h5>
    <p class="card-text">Click the corresponding letter on your keyboard to play an sound. Make up a tune of your own.</p>
    <%= render 'shared/musicalpiece' %>
  </div>
</div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Coming Soon</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card">
  <div class="card-body">
    <h5 class="card-title">Coming Soon</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

</div>


