<div class="container mt-5">
  <h1h> Welcome to the Garden </h1>
  <p> EST. 2021 </p>
  <p> Here you can walk through my garden of flower features and see what I've grown. Each flower feature will demonstrate a different coding skill I've learned. </p>

  <div class="container mt-5">
    <%= render 'shared/musicalpiece' %>
  </div>

</div>
