<div class="container mt-5">
  <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white" style=" background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1523349312806-f5dde0a01c32?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80); height: 20rem;opacity: 80%;border-radius: .5%;color: whitesmoke;padding: 5%;margin: auto;">
    <h1> Welcome to the JS Garden </h1>
    <p> EST. 2021 </p>
    <p> Here you can walk through my garden of flower features and see what I've grown. <br> Each flower section demonstrates a different coding skill I've learned. </p>
  </div>
  <div class="card mt-5">
  <div class="card-body">
    <h5 class="card-title">Musical Garden keys</h5>
    <p class="card-text">Click the corresponding letter on your keyboard to play an sound. Make up a tune of your own.</p>
    <%= render 'shared/musicalpiece' %>
  </div>
</div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Coming Soon</h5>
      <p class="card-text">Work in progress. Have an idea of something you'd like to see here? Message me on linkedin. </p>
      <a href="https://www.linkedin.com/in/annie-walsh-b754706a/" class="btn btn-success text-white">Suggest a feature</a>
   </div>
  </div>
  <div class="card">
  <div class="card-body">
    <h5 class="card-title">Coming Soon</h5>
    <p class="card-text">Hmmm what will I grow in my JavaScript garden next?</p>
    <a href="https://www.javascript.com/" class="btn btn-success text-white">JavaScript info</a>
  </div>
</div>

</div>



